## <span style="color:darkblue"> Problem Set 0: Introduction to R/Jupyter

Stat140-02: Introduction to the Ideas and Applications of Statistics 

Due: Friday, Feb 2 @11am

# Welcome to Jupyter!

Notebooks consist of a **linear sequence of cells**. There are two basic cell types we will be using:

* **Code cells:** Input and output of live code that is run in the kernel
* **Markdown cells:** Narrative text with embedded LaTeX equations

To create a new cell, select a cell and then press the `+` button on the top panel of this page. By default, the new cell will be a code cell and will appear below the currently selected cell. Note that one way we can select a cell by clicking it with our mouse. We know that it is selected when there is a blue (or green) vertical line to the left of it.
- To **change the type of cell** from a code cell to a markdown cell (or vice versa), make sure the cell is selected, and use the drop down menu on the top panel. 
- To **move a cell** up or down, use the `arrow` buttons on the top panel.

---
<span style="color:darkblue"> **Problem 1**: Create a markdown cell below this cell.

---
Note: 
* you can **delete** a cell by putting your cursor in the cell and using the `scissors` button on the top panel.
* To **undelete** a cell, select `Undo Delete Cell` in the Edit dropdown menu.

Now let's create a markdown cell and **add formatted text** to it.  To do this, create a new markdown cell, click on the inside of the cell to put our cursor in the cell, and then just start typing. We can format the text in the cell using *markdown syntax*.  Here's a link to some useful information on markdown:

http://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Working%20With%20Markdown%20Cells.ipynb

To see the formatted cell, you simply keep your cursor in the cell, and click on the `Run` button on the top panel.

---
<span style="color:darkblue"> **Problem 2**: Create a markdown cell below this cell that includes the follwing:
- a few sentences about yourself
- your name as a heading
- a list of your favorite classes as Mount Holyoke

Run the cell so that it is formatted correctly.

(use the link above to learn how to make headings and a list)

---
Note: in general, it's good practice to:
- include small amounts of text or code within a single cell. 
- alterantive betweewn text and code cells.  

Code cells are also refereed to as **code chunks**.

Now let's create a code cell.  To do this, simply add another cell using the `+` button again. This notebook is an `R` notebook, which means that by default we will be able to run R code in all code cells.  Other types of notebooks include Julia and Python notebooks.  

R is a powerful statistical programming language for reading, manipulating, analyzing and visualizing data. But it can also be used as a simple calculator!  For example, in the following code cell, we will calculate 2 + 2 by simply typing `2+2`.

In [ ]:
2+2

 In order to see the result, we put our cursor in the cell and run the cell using the `Run` button in the top panel. Try it!

---
<span style="color:darkblue"> **Problem 3**: Create a code cell and calculate the average high temperature over the past 5 days. Assume the daily highs were: 27, 32, 45, 44 and 12. Here you can use `+`, `-`, `*` and `/` for addition, subtraction, multiplication and division, respectively.  Also, remember if you are going to divide a sum of numbers, then you want to use `()`'s around the sum.

---
Finally, let's look at some data! For the duration of this course, we will be using the R package `oibiostat` that is associated with the text. In order to use an R package, we first need to **load the package** using the function `require()` with the name of the package in parenthesis:

In [5]:
require(oibiostat)

Loading required package: oibiostat

<span style="color:red">  *Important Note: runing the require() function needs to be repeated every time you open a notebook*!

Now we can look at a data set that is included in this R package.  Let's look at the **discrimination in developmental disability support** data that are described in Section 1.7.1 of your text.  The name of the data set is `dds.discr`.  We start by **loading the data** using the `data()` function, and then **printing** the first six rows of the data using the `head()` function:

In [8]:
data(dds.discr)
head(dds.discr)

  id    age.cohort age gender expenditures ethnicity
1 10210 13-17      17  Female  2113        White not Hispanic
2 10409 22-50      37  Male   41924        White not Hispanic
3 10486 0-5         3  Male    1454        Hispanic
4 10538 18-21      19  Female  6400        Hispanic
5 10568 13-17      13  Male    4412        White not Hispanic
6 10690 13-17      15  Female  4566        Hispanic

This data set includes information on a **sample** of 1000 individuals who received funds from the California department of developmental services.

---
<span style="color:darkblue"> **Problem 4**: The National Health and Nutrition Examination Survey (NHANES) is study designed to evaluate the health and nutritional status of adults and children in the United States through a series of surveys and physical examinations. A sample of these data for 200 individuals is available in the data set entitled `nhanes.samp'. 
    
<span style="color:darkblue"> Create a code cell below and then load and print the first six rows of these data using the `data()` and `head()` functions.  
    
*Note in the output that you can not see all of the variables as there is a `...` in the middle.*

---
Next week we will start sumarizing data numerically and graphically!